<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat app</title>
    <link rel="stylesheet" href="/css/buildstyles.css">
    <script defer src="/js/socket.io.min.js"></script>
    <script defer src="/js/buildscript.js"></script>
</head>
<body>

    <header role="banner">
        <a href="#main-content" class="skip-link">Skip To Content</a>
        <div class="wrapper">
            <div>
                <span class="brand">Chat App</span>
            </div>
            <nav>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#join">Join</a></li>
                    <li><a href="#chat">Chat</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main class="main" id="main-content">
        <section class="join" id="join">
            <p class="title">Join a Room<p>
            <form id="room-form">
                <label for="name">Username:</label>
                <input placeholder="John123" type="text" name="name" required id="name">
                <label for="room">Room:</label>
                <input placeholder="Football" type="text" name="room" required id="room">
                <button class="button">Submit</button>
            </form>
        </section>
        <section id="chat" class="chat">
            <div class="chat_wrapper">
                <div class="left" id="p-list">
                    <p class="title">Participants: <span id="total-p" >1</span></p>
                    <ul id="p-list-inner">
                        <li>mike444</li>
                    </ul>
                </div>
                <div class="right">
                    <p class="title" id="room-title">No Room Joined<p>
                    <div class="chat-wrapper">
                        <button class="leave button" id="leave">Leave</button>
                        <button class="list button" id="list">List</button>
                        <div id="chatbox" class="chatbox">
                            <div>
                                <span class="author">admin</span>
                                <span class="msg">You are connected</span>
                            </div>
                            <div class="self">
                                <span class="author">mike444</span>
                                <span class="msg">Hey</span>
                            </div>
                            <div class="">
                                <span class="author">john123</span>
                                <span class="msg">Lorem ipsum dolor sit</span>
                            </div>
                        </div>
                        <form id="message-form">
                            <label for="message">Message:</label>
                            <div class="wrapper">
                                <textarea name="message" id="inputmessage" rows="1"></textarea>
                                <button type="submit" id="send" class="button">Send</button>
                                <button type="button" aria-label="Delete the current message" id="delete" class="button">Del</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <section id="home" class="home">
            <h1>Chat App</h1>
            <p>Create a chat session using a username and room name</p>
            <a href="#join" aria-label="Visit the Join/Chat page of site" class="button">Create/Join</a>
        </section>
    </main>
</body>
</html>